<div class="row top-pad invite">
	<div class="col-xs-12">
		<p>Limited availability - register now!</p>
	</div>
</div>
<div class="row invite">
	<div class="col-md-9 col-xs-8">
		<input type="email" class="form-control" placeholder="Email address" id="emailAddress" />
		<div class="alert alert-danger" role="alert" id="invalid" style="display:none">Oh no, it looks like your email address is not quite right.</div>
		<div class="alert alert-info" role="alert" id="info" style="display:none">Sending your request.</div>
  		<div class="alert alert-success" role="alert" id="success" style="display:none">Thanks.</div>
	</div>
	<div class="col-md-3 col-xs-4">
		<button type="button" class="btn btn-primary btn-block" onclick="requestEmail( '#emailAddress', '#invalid', '#success', '#info' )">Get early access</button>
	</div>
</div>

<script>
function checkEmail( email ) {
    var filter = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if (!filter.test(email)) {
	    return false;
	}

	return true;
}

function requestEmail( addressNodeId, errorNodeId, successNodeId, infoNodeId ){
	var token = '0963b0eb-2b90-44b2-8c8f-470646d1fda8';
	var emailAddress = $(addressNodeId).val();
	var valid = checkEmail( emailAddress ); //emailAddress.match(/^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/);

	if(!valid) {
		$(errorNodeId).css('display','block');
		$(addressNodeId).focus();
		setTimeout(function(){ $(errorNodeId).css('display','none'); },5000);
		return;
	}

	$(errorNodeId).css('display','none');
	$(infoNodeId).css('display','block');

	$.ajax({
	  'dataType': 'json',
	  'contentType': 'application/json',
	  'type': "POST",
	  'url': 'http://docl.io/send',
	  'data': JSON.stringify({
	  	'from_email': emailAddress,
	  	'subject': 'Potential customer: {{title}}',
	  	'message': 'I would like an invitation to {{title}}. ' + emailAddress
	  }),
	  'success': function(res) {
	  	$(successNodeId).css('display','block');
	  	$(infoNodeId).css('display','none');
	  },
	  'error': function(res) {
	  	$(errorNodeId).css('display','block');
	  }
	});
}
</script>