<div class="row top-pad invite">
	<div class="col-xs-12">
		<p>Limited positions available.</p>
	</div>
</div>
<div class="row invite">
	<div class="com-md-9 col-xs-8">
		<input type="email" class="form-control" placeholder="Email address" />
	</div>
	<div class="col-md-3 col-xs-4">
		<button type="button" class="btn btn-primary btn-block">Request invite</button>
	</div>
</div>