<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
  </head>
  <body class="bs-docs-home">
    <!-- Page content of course! -->
    {{> body }}

    <footer class="container top-pad" role="contentinfo">
      {{> social-buttons }}
    </footer>

    <!-- JS and analytics only. -->
    {{> footer }}

  </body>
</html>
