---
layout: default.hbs
title: Abridge
slug: abridge
description: Abridge - the best email marketing tool to get business email opened, increase clicks, sales conversions, & profits through email marketing best practices.
favicon: http://faviconist.com/icons/5c87123c6ece5cc73c20dd7657504cbd/favicon.ico
base_url: "./"
current_version: beta
css_theme: purple
---

<main class="masthead" id="content" role="main">
  <div class="container">
    <h1 class="lobster">ABridge</h1>
    <h2 class="lead ubuntu">Email digests, simple and reliable.</h2>
    <div class="">
    	<div class="arrows row">
    		<div class="col-xs-4 col-sm-3 col-xs-offset-1">
    			<img src="./assets/img/abridge/circle-arrow.png" class="absolute-center" />
    		</div>
    		<div class="col-xs-4 col-sm-3 hidden-xs">
    			<img src="./assets/img/abridge/circle-arrow.png" class="absolute-center" />
    		</div>
    		<div class="col-xs-4 col-sm-3 hidden-xs">
    			<img src="./assets/img/abridge/circle-arrow-no-plus.png" class="absolute-center" style="z-index: 9;left: 25%;" />
    		</div>
    	</div>
    	<div class="diagram row">
	    	<div class="col-xs-3 background purple">
	    		<img src="./assets/img/abridge/envelope.png" class="absolute-center" />
	    	</div>
	    	<div class="col-xs-3 hidden-xs background green">
	    		<img src="./assets/img/abridge/envelope.png" class="absolute-center" />
	    	</div>
	    	<div class="col-xs-3 background red">
	    		<img src="./assets/img/abridge/envelope.png" class="absolute-center" />
	    	</div>
	    	<div class="col-xs-6 col-sm-3 phone-container">
	    		<img src="./assets/img/abridge/phone.gif" class="absolute-center" />
	    		<img src="./assets/img/abridge/envelope_open.png" class="absolute-center" />
	    	</div>
    	</div>
    </div>
  </div>
  <div class="hero">
  	<div class="container">
	  	{{> invite}}
  	</div>
  </div>
</main>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>How it works?</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 tpad">
			<img src="./assets/img/abridge/diagram.png" />
		</div>
		<div class="col-md-6 tpad">
			{{> abridge-how-it-works}}
		</div>
	</div>

	<div class="diagram row tpad">
	    	<div class="col-xs-4 background purple">

	    		<h3>Simple Integration</h3>
	    		<center><h1 class="glyphicon glyphicon-cloud"></h1></center>
	    		<p>&nbsp;</p>
	    	</div>
	    	<div class="col-xs-4 hidden-xs background green">
	    		
	    		<h3>Customer Retention</h3>
	    		<center><h1 class="glyphicon glyphicon-heart"></h1></center>
	    		<p>&nbsp;</p>
	    	</div>
	    	<div class="col-xs-4 background red">
	    		
	    		<h3>Customer Engagement</h3>
	    		<center><h1 class="glyphicon glyphicon-comment"></h1></center>
	    		<p>&nbsp;</p>
	    	</div>
    </div>

    <div class="diagram row tpad">
	    	<div class="col-xs-6">

	    		<h3>Great for Marketing</h3>
	    		<ol>
	    			<li>More opens - Email advertising is a waste of time if it isn’t seen.</li>
					<li>More clicks - Email campaigns must entice clicks and draw people to your site.</li>
					<li>More sales conversions - Business email marketing that gets more clicks leads to more sales…and profits.</li>
					<li>More revenue generated per sent email and per campaign - Email marketing strategies need to prove successful results through increased revenue.</li>
					<li> More lifetime customer value - Even if your subscribers only want to hear from you once a month, it’s better than not at all. The best email marketing services give subscribers more control over the email you send.</li>
					<li>Lower unsubscribe rates - Opt in email marketing gives the user more control, and is more effective in keeping them on your email list. 73% of survey respondents in Merkle's "View from the inbox" report selected "sending too frequently" as the top reason for opting out of email lists.</li>
					<li>Lower spam reports - A MarketingSherpa study found that "too much email from the sender" was the reason given by 25% of respondents for reporting an email as spam.</li>
	    		</ol>
	    	</div>
	    	<div class="col-xs-6">
	    		
	    		<h3>Great for Subscribers</h3>
	    		<ol>
	    			<li>More email manageability - Unclutter your audience’s email inboxes. Online marketing needs to be less annoying and cumbersome to be more effective.</li>
					<li>More available time - Reducing subscribers’ email overload will help them allocate time better A survey by McAfee states that 49% of Americans spend over 40 minutes each week deleting spam. Another 14% reported spending up to three and a half hours a week handling spam.</li>
					<li>More focus - Helps subscribers concentrate on the emails that interest them most. Many love call screening. ABridge’s targeted email marketing tool allows them to similarly screen new messages and decide which they want to view in more detail. The snippets make it easier for the reader to decide whether to click through and read further. </li>
					<li>More productivity - The National Technology Readiness Survey calculated that time spent on spam led to a loss in productivity equal to $21.6 billion each year, based on average U.S. wages.</li>
	    		</ol>
	    	</div>
    	</div>
    </div>


</div>

<div class="container">

	<div class="row">
		<div class="col-md-12 tpad text-center">
			<h3>The simpliest way to deliver daily digest emails</h3>
		</div>
	</div>
</div>