---
layout: default.hbs
title: Coffee Pocket
slug: coffee-pocket
description: Direct contact with your valued customers.
favicon: http://faviconist.com/icons/64a325f409d92f6a18087607666d9549/favicon.ico
base_url: "./"
current_version: beta
css_theme: grey
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1 class="header coffee-pocket">{{ title }}</h1>
    <p class="lead">Direct contact with your valued customers</p>
  </div>
</main>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">Let your customers know you are nearby, to get their coffee hit.</p>
			</div>
		</div>

		<div class="row top-pad">
			<div class="col-xs-12 text-center">
				<iframe src="https://docs.google.com/presentation/d/1vTQBPPSOw9aR1aVIOKaP1K4RpM9RpA463Bwl6KDS0SI/embed?start=true&loop=false&delayms=5000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			</div>
		</div>

		{{> invite}}

	</div>
</div>