---
layout: default.hbs
title: LunchPitch
slug: lunch-pitch
base_url: "./"
current_version: beta
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1 class="header lunch-pitch">Lunch Pitch</h1>
    <p class="lead">Verify your world changing ideas.</p>
  </div>
</main>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">PROOF, test your startup ideas, with people in the right market. Save time, money and anguish building the wrong product or service.</p>
			</div>
		</div>

		<div class="row top-pad illustration">
			<div class="col-xs-4">
				<h3>An idea</h3>
			</div>
			<div class="col-xs-4">
				<h3>Describe it</h3>
			</div>
			<div class="col-xs-4">
				<h3>Get feedback</h3>
			</div>
		</div>
		<div class="row top-pad illustration">
			<div class="col-xs-4">
				<i class="fa fa-lightbulb-o"></i>

				<p>Before you start, verify the idea as a whole, it's business model, pain points.</p>
			</div>
			<div class="col-xs-4">
				<i class="fa fa-pencil"></i>

				<p>Your presentation will be sent to people unqiuely qualified to provide feedback.</p>
			</div>
			<div class="col-xs-4">
				<i class="fa fa-comment"></i>

				<p>Engage with your audience to dicuss how to transform your idea into a viable product or service.</p>
			</div>
		</div>

		{{> invite}}

		<div class="row quote top-pad">
			<div class=" col-md-2 col-xs-3">
				<img src="http://api.randomuser.me/portraits/med/men/98.jpg">
			</div>
			<div class="col-md-10 col-xs-9">
				<blockquote>
					<p>After having wasted more than $20k in books, consultants, and services, I wish I had found LaunchPitch earlier, which really helped me build a product and get my first 500 users.</p>
					<footer>Entrepreneur <cite title="Source Title">Max Henderson</cite></footer>
				</blockquote>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Time!</h2>
				<p>Time is the one true resource that we all want more of.  A great way of getting more time is spending it on things that really matter.</p>
			</div>
			<div class="col-sm-6">
				<h2>Better products/services</h2>
				<p>Quality feedback from your market can help you refine your idea, tweak it and pivot your startup idea. Time that you spend upfront will be rewarded many times over.</p>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Startups as a science</h2>
				<p>There is a forumla, the formula may not suit all startup ideas however it works for a high percentage.  The first step in the process is to verify that your idea can be transformed into a sustainable business.</p>
			</div>
			<div class="col-sm-6">
				<h2>Network power</h2>
				<p>Use our crowd knowledge to drive your business ideas into the ultimate form.</p>
			</div>
		</div>


	</div>
</div>