---
layout: default.hbs
title: Package Monkey
slug: package-monkey
description: End dependency hell. Get alerts on bug fixes & security updates for your modules, libraries, & plugins. Goodbye DLL hell & JAR hell, hello Package Monkey.
favicon: http://faviconist.com/icons/76af3e4f415a9110a46d128906f203b7/favicon.ico
base_url: "./"
current_version: beta
css_theme: grey
---

<main class="bs-masthead" id="content" role="main">
  <div class="container"></div>
</main>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">Package Monkey will promptly alert you of updates to third-party modules, libraries and plugins that your code/application uses.</p>
			</div>
		</div>

		<script type="text/javascript" data-untorch-campaign="373" src="http://untorch.com/js/untorch.min.js"></script>

		<p>&nbsp;</p>

		<div class="row top-pad illustration">
			<div class="col-xs-4">
				<img src="./assets/img/package-monkey/image-1a.png" />
				<p class="description-pad-right">Authorize your GitHub or Bitbucket account.</p>
			</div>
			<div class="col-xs-4">
				<img src="./assets/img/package-monkey/image-2a.png" />
				<p class="description-pad-right">We constantly monitor all of your third party modules..</p>
			</div>
			<div class="col-xs-4">
				<img src="./assets/img/package-monkey/image-3a.png" />
				<p class="description-pad-right">Get real time reports whenever any of them are updated.</p>
			</div>
		</div>

		<div class="row description top-pad dark">
			<div class="col-sm-12">
				<p>Package Monkey provides high value services without taxing the resources of your managed system, or needing to adapt your present environment. It will monitor source code in your project repositories and that of millions of others, vigilantly checking the status of the third party version pinned in your project. Package Monkey guards your code security and protects application security vulnerabilities. Ensure your code quality management success and avoid software dependency hell.</p>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Code re-use is cool</h2>
				<p>Prorammers love to re-use code, even better use someone else's code. C, Java, JavaScript (including jQuery and node.js), Python and even Ruby developers depend on third-party modules, libraries and plugins.</p>
			</div>
			<div class="col-sm-6">
				<h2>Security updates are important</h2>
				<p>Updates are done for a reason, and in the case of third-party modules, libraries and plugins these can be general improvements, platform updates or more importantly security updates.</p>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Maintain old projects</h2>
				<p>Updates are done for a reason, and in the case of third-party modules, libraries and plugins these can be general improvements, platform updates or more importantly security updates.</p>
			</div>
			<div class="col-sm-6">
				<h2>Cloud-Based</h2>
				<p>Due to Package Monkey’s cloud based architecture, you don’t need to worry about dedicated hardware, appliances, or site servers. Your IT administrators won’t require special configurations or VPNs.</p>
			</div>
		</div>

		<div class="row description top-pad dark">
			<div class="col-sm-6">
				<h2>Ensure Compliant Patches</h2>
				<ul>
					<li>Automates the burdensome and tedious research process.</li>
					<li>Known vulnerabilities.</li>
					<li>Determines the patches already installed and their installation dates.</li>
					<li>Identifies which patches are needed.</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h2>&nbsp;</h2>
				<ul>
					<li>Keeps on top of patches and security updates.</li>
					<li>Helps maintain your historical projects with confidence.</li>
					<li>Promotes project stability and integrity.</li>
					<li>Aggregates all relevant data to provide superior quality management.</li>
				</ul>
			</div>
		</div>
	</div>
</div>