---
layout: default.hbs
title: Package Monkey
slug: package-monkey
base_url: "./"
current_version: beta
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1 class="header package-monkey">Package Monkey</h1>
    <p class="lead">Avoid dependency update hell.</p>
  </div>
</main>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">Package Monkey let's you know when modules, libraries plugins your code relies on update.</p>
			</div>
		</div>

		<div class="row top-pad illustration">
			<div class="col-xs-4">
				<img src="./assets/img/package-monkey/image-1.png" />
				<p>Authorise your github or bitbucket account.</p>
			</div>
			<div class="col-xs-4">
				<img src="./assets/img/package-monkey/image-2.png" />
				<p>We will track all the third party modules you use.</p>
			</div>
			<div class="col-xs-4">
				<img src="./assets/img/package-monkey/image-3.png" />
				<p>And let you know when any of them are updated.</p>
			</div>
		</div>

		{{> invite}}

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Code re-use is cool</h2>
				<p>Prorammers love to re-use code, even better use someoneelse's code. C, Java, JavaScript (includeing jQuery and node.js), Python and even Ruby developers depend on third-party modules, libraries and plugins.</p>
			</div>
			<div class="col-sm-6">
				<h2>Security updates are important</h2>
				<p>Updates are done for a reason, and in the case of third-party modules, libraries and plugins these can be general improvements, platform updates or more importantly security updates.</p>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Rey on open source project?</h2>
				<p>If your code depends on open-source projects, it's great to know when major updates occur. Sometimes open-source projects you</p>
			</div>
			<div class="col-sm-6">
				<h2>Maintain old projects</h2>
				<p>Updates are done for a reason, and in the case of third-party modules, libraries and plugins these can be general improvements, platform updates or more importantly security updates.</p>
			</div>
		</div>


	</div>
</div>