---
layout: default.hbs
title: LunchPitch
slug: lunch-pitch
description: Large to small business start up help is only a click away Small business start up help from top entrepreneurship experts saves you time and money now, and helps drive your future success.
favicon: http://faviconist.com/icons/5f5086de66d2983608260d7338c48ffa/favicon.ico
base_url: "./"
current_version: beta
---

<main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1 class="header lunch-pitch">Lunch Pitch</h1>
    <p class="lead">Validate Your Business Ideas</p>
  </div>
</main>
<div class="main">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="lead">Get valuable small business start up advice and feedback from experts in the right industry.</p>
				<p>Develop a service or product launch with confidence. Get important business tips to save you time, money, and stress.</p>
			</div>
		</div>

		<div class="row top-pad illustration">
			<div class="col-xs-4">
				<h3>An idea</h3>
			</div>
			<div class="col-xs-4">
				<h3>Describe it</h3>
			</div>
			<div class="col-xs-4">
				<h3>Get feedback</h3>
			</div>
		</div>
		<div class="row top-pad illustration">
			<div class="col-xs-4">
				<i class="fa fa-lightbulb-o"></i>

				<p>Envision a Business Proposal - Before your business startup, confirm your service or new product launch strategy, the business model, and its pain points.</p>
			</div>
			<div class="col-xs-4">
				<i class="fa fa-pencil"></i>

				<p>Describe Your Concept - Business presentations are evaluated by industry experts uniquely qualified to provide business development insight and business advice.</p>
			</div>
			<div class="col-xs-4">
				<i class="fa fa-comment"></i>

				<p>Get Launch Marketing Feedback – Discuss how to start a business successfully with top entrepreneurship advisors.</p>
			</div>
		</div>

		{{> invite}}

		<div class="row quote top-pad">
			<div class=" col-md-2 col-xs-3">
				<img src="http://api.randomuser.me/portraits/med/men/98.jpg">
			</div>
			<div class="col-md-10 col-xs-9">
				<blockquote>
					<p>After having wasted more than $20k in books, consultants, and services, I wish I had found Lunch Pitch earlier, which really helped me design my product build my business model and approach my market through the right channels.</p>
					<footer>Entrepreneur <cite title="Source Title">Max Henderson</cite></footer>
				</blockquote>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Panel of experts!</h2>
				<p>Starting your own business is challenging. If you’re a business entrepreneur looking to confirm the feasibility of your idea and its implementation, we’ve assembled a team of highly regarded mentors, covering most industries. Providing large to small business advice, our experts can help ensure your success. </p>
			</div>
			<div class="col-sm-6">
				<h2>Crowd of everyday people</h2>
				<p>Quality feedback from your market can help you refine your idea, tweak it and pivot your startup idea. Only feedback from yout targeted market can tell you how your product/service would work for them.</p>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Startups as a science</h2>
				<p>There is a forumla, the formula may not suit all startup ideas however it works for a high percentage.  The first step in the process is to verify that your idea can be transformed into a sustainable business.</p>
			</div>
			<div class="col-sm-6">
				<h2>Valuable data</h2>
				<p>With real data in hand, getting funding for a new business startup can be more feasible. Moreover, with the proper direction from those "in the know", it can be much easier. How to start your own business is made simpler and more profitable when you have the proper guidance.</p>
			</div>
		</div>

		<div class="row description top-pad">
			<div class="col-sm-6">
				<h2>Lunch Pitch Advantages</h2>
				<ul>
					<li>Start a new business with confidence, after confirming the feasibility of your large to small business plan.</li>
					<li>Prevent costly start up business mistakes.</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<h2>&nbsp;</h2>
				<ul>
					<li>Increase your success in obtaining small business loans and small business grants.</li>
					<li>Complications with how to start a business can be avoided, along with the headaches that accompany them.</li>
				</ul>
			</div>
		</div>

	</div>
</div>